.room-slider {
    text-align: center;
    padding-top: clamp(1.25rem, -3.75rem + 12.5vw, 6.25rem);
 
    background: #f9f9f9;
    position: relative;
  
    .section-title {
      font-weight: bold;
      color: $black;
      margin-bottom:  clamp(0.9375rem, -0.625rem + 3.9063vw, 2.5rem);
    }

    p{
       font-size: 20px;
       line-height: 28px;
       color: $grey;
       margin-bottom: clamp(0.9375rem, -1.25rem + 5.4688vw, 3.125rem);
    }
  
    .slider-container {
      width: 100%;
      overflow: hidden;
      position: relative;
    
    }
  
    .slider {
      display: flex;
      gap: clamp(0.9375rem, 0rem + 2.3438vw, 1.875rem);
      transition: transform 0.5s ease-in-out;
    }
  
    .slide {
      flex: 0 0 33.333%;
      overflow: hidden;
      border-radius: 10px;
      
      position: relative;
      transition: transform 0.4s ease, filter 0.3s ease;
      
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: transform 0.4s ease;
        border-radius: 10px;
        
      }
  
      &:hover {
        transform: scale(1.05);
        filter: brightness(0.85);
        border-radius: 10px;
      }
    }
  }
  
  // Responsive Adjustments
  @media (max-width: 1024px) {
    .slide {
      flex: 0 0 50%;
    }
  }
  
  @media (max-width: 768px) {
    .room-slider .slide {
      flex: 0 0 100.333%;
    }
    .room-slider .slide img{
      height: 250px;
    }
  }

  @media (max-width: 567px) {
    .room-slider .slide {
      flex: 0 0 80.333%;
    }

     .room-slider .slide img{
       height: 200px;
     }
  }
